/* Basic reset for styling */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Styles for the sidebar */
.social-sidebar {
    position: fixed;  /* Fixed positioning to stay in place when scrolling */
    top: 50%;         /* Center vertically */
    left: 0;          /* Stick to the left side of the page */
    transform: translateY(-50%); /* Adjust the vertical position to truly center it */
    background: #343A40; /* Dark background */
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    padding: 10px;    /* Padding around icons */
    background-color: #343A40;
    z-index: 5;
}

.social-sidebar ul li a {
    display: block;  /* Block display to represent each link properly */
    margin: 20px 0;  /* Margin between links */
    background-color: #343A40;
}

.social-sidebar ul li img {
    width: 24px;     /* Fixed width for icons */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Ensure the icons line up correctly */
    background-color: #343A40;
}

.social-sidebar ul li i {
    font-size: 24px;  /* Icon size */
    color: white;     /* Icon color */
    padding: 5px;
    border-radius: 25%;
    background-color: #343A40;
    transition: background-color 0.4s ease; 
}

.social-sidebar ul li i:hover{
    background-color: white;
    color: black;
    outline: 1px solid transparent;
}